* {
	font-family: arial;
	color: #000000;
}

body {
	background-color: #bfbfbf;
}


#headMsg {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 10px 5px 10px grey;
}

#headerbar {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 10px 5px 10px grey;
}

#optionPane{
	background-color:	#ffffff;	
}

#mapWrapper{
	background-color: #ffffff;
	box-shadow: 10px 5px 10px grey;
	border-radius: 10px;
}

#demoMap{
	border-radius: 10px;
}

#optionPane{
	margin-top: 15px;
	background-color: #ffffff;
	box-shadow: 10px 5px 10px grey;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#userIcon {
	border-radius: 50%;
}

#footerPplList{
	list-style-type: none;
    font-size: 12px;
}

#footerRight{
	font-size: 12px;	
}

.opWrapper h2 {
	background-color: #000099;
	color: #ffffff;
	box-shadow: 0px 5px 10px grey;
	border-radius: 10px;
}

.optionPanel {
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 10px 5px 10px grey;
}

.actionButton {
	font-size: 15px;
}


.inputText {
	border: none;
	border-bottom: 1px solid grey;
}

.optionImg {
	border-radius: 50%;
	box-shadow: 0px 5px 10px grey;
}

.bigIcon{
	font-size: 50px !important;
}

.optionDetails{
	display:none;
}

.optionHeader{
	font-size: 24px;
}