* {
	font-family: arial;
	color: #000000;
}

body {
	background-image: url("../utilities/pic/backgroundIndex.png");
	background-color: #cccccc;
	background-repeat: y-repeat;
	background-size: cover;
}


#headMsg {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}

#headerbar {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}

#optionPane{
	background-color:	#ffffff;	
}

#mapWrapper{
	background-color: #ffffff;
	box-shadow: 2px 2px 2px #bbb;
	border-radius: 4px;
}

#map{
	border-radius: 4px;
}

#optionPane{
	margin-top: 15px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px #bbb;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#userIcon {
	border-radius: 50%;
}

#footerPplList{
	list-style-type: none;
    font-size: 12px;
}

#footerRight{
	font-size: 12px;	
}

.opWrapper h2 {
	background-color: #404040;
	color: #ffffff;
	box-shadow: 2px 2px 2px #bbb;
	border-radius: 4px;
}

.optionPanel {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}

.actionButton {
	font-size: 15px;
}


.inputText {
	border: none;
	border-bottom: 1px solid grey;
}

.optionImg {
	border-radius: 50%;
	box-shadow: 2px 2px 2px #bbb;
}

.bigIcon{
	font-size: 50px !important;
}

.optionDetails{
	display:none;
}

.optionHeader{
	font-size: 24px;
}

.button {
    background-color: #555555; 
    border: none;
    color: white !important;
	cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button:hover {
	background-color: #333333;
}

.fullSize {
	width: 100%;
}
