@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100%;
}

p{
	text-align: -moz-center;
	text-align: -webkit-center;
 	text-align: center;	
}

a{
	text-decoration: none;
	color: black;	
}

a:visited{
	text-decoration: none;
	color: black;
}

td .inputText{
	border: 0;
	border-bottom: 1px solid grey;
}

#loginArea td a{
	width: 100%;
}

td .inputSubmit{
	width: 100%;
}

#popupTable{
	width: 90%;
	margin-top: 15px;
}

#popupTable td p{
	text-align: -moz-right;
	text-align: -webkit-right;
 	text-align: right;	
 	margin-bottom: 15px;
}

#popupTable td input{
	width: 100%;
	margin-bottom: 15px;
}

#popupTable td textarea{
	
	width: 100%;
	margin-bottom: 15px;
	resize: none;
}

#feedbackForm textarea{
	width: 100%;
	margin-bottom: 15px;
	resize: none;
}

#newRouteForm textarea{
	width: 100%;
	margin-bottom: 15px;
	resize: none;
}

#map{
	width: 100%;
	height: 100vh;
	z-index: 100;
}

#searchbar{
	top: 91px;
	right: 20px;
	width: 222px;
	height: 50px;
	background-color: #ffffff;
	z-index: 800;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}

#optionpanle{
	right: 20px;
	top: 151px;
	width: 200px;
	background-color: #ffffff;
	z-index: 800;
	border-radius: 4px;
	border: 1px solid #bbb;
	padding: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px #bbb;
}

#header{
	display: inline-block;
	height: 50.859px;
	top: 10px;
	left: 50px;
	right: 20px;
	z-index: 802;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px #bbb;
    overflow: hidden;
}

#mainLogo{
	height: 50px;
	vertical-align: middle;
	border-radius: 50%;
}

#mapHeader{ 
	text-align: -moz-center;
	text-align: -webkit-center;
	box-sizing: inherit;
 	text-align: center;
 	height: 100%;
	width: 100%;
	display: inline-block;
}

#otherMapHeader{
	width: 72%;
	display: inline-block;
}

#loginArea{
	position: absolute;
	right: 10px;
	display: inline-block;
}

#loginForm {
	text-align: -moz-right;
	text-align: -webkit-right;
	text-align: right;
}

#headerbar {
	display: inline-block;
	width: 60%;
	margin: 15px 0px 15px 0px;
	padding: 0 2% 0 2%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#otherHeader {
	width: 30%;
	display: inline-block;
}

#spotRange{
	width: 70%;
}

#spotValue{
	width: 20%;
	float: right;
}

#timeRange{
	width: 70%;
}

#timeValue{
	width:	20%;
	float: right;
}

#rating{
	
}

#searchTour{
	margin-top: 10px;
	width: 100%;
}

#tours{

	left: 50px;
	bottom: 30px;
	width: 1008px;
	height: 130px;
	z-index: 800;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px #bbb;
    overflow: hidden
}

#tourList{
	white-space: nowrap;
}

#leftArrow{
	height: 30px;
	left: 0px;
	top: 63px;
	background-color: #ffffff;
	border-radius-top-right: 4px;
	border-radius:0px 4px 4px 0px;
	opacity: 0.8;
	
}

#rightArrow{
	height: 30px;
	right: 0px;
	top: 63px;
	background-color: #ffffff;
	border-radius:4px 0px 0px 4px;
	opacity: 0.8;
}

#leftArrow:hover {
	cursor: pointer;
}

#rightArrow:hover {
	cursor: pointer;
}

#tourInfoPanel{
	display: none;
	position: absolute;
	right: 20px;
	top: 151px;
	width: 200px;
	height: 60%;
	background-color: #ffffff;
	z-index: 801;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #bbb;
	box-shadow: 2px 2px 2px #bbb;
}

#closeTourInfo{
	color: white !important;
	right: 11.5px;
	top: 11.5px;
}

#closeTourInfo:hover{
	cursor: pointer;
}

#logoWrapper{
	display: inline-block;
}

#partyText{
	font-size: 33px;
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
}

#partyText:hover {
	background-color: #555555;
	color: white;
	
}


#cultureText{
	font-size: 33px;
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
}

#cultureText:hover {
	background-color: #555555;
	color: white;
}

#headerIconMiddle{
	vertical-align: middle;
	font-size: 33px !important;
}

#tourStopsWrapper{
	width: 100%;
	height: 35%;
	overflow: hidden;
}

#buttonLoad{
	width: 40%;
	right: 10px;
	bottom: 10px;
}

#buttonRate{
	width: 40%;
	left: 10px;
	bottom: 10px;
}

#tourStops{
	overflow-y: scroll;
	border: 1px solid grey;
	height: 80%;
}

#sendFeedback{
	padding-right: 10px;
	padding-left: 10px;
}

#tourStopsPopup{
	
}

#popupError{
	color: red;
}

#rightIcon{
	display: inline-block;
}

#tourInfoPanel table{
	width: 100%;
}

#feedbackList{
	list-style-type: none;
}

#routeSelect{
	margin-bottom: 10px;
	width: 100%;
}

#tourStopsPopup{
	list-style-type: none;
}

#feedbackEditArea{
	width: 100%;
	height: 50px;
	resize: none;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.floatRight{
	float: right;
}

.floatLeft{
	float:left;
}
.centered{
	text-align: -moz-center;
	text-align: -webkit-center;
 	text-align: center;
}

.clearfix{
	clear: both;
}

.heightFix{
	height: inherit;
}

.right{
	text-align: -moz-right;
	text-align: -webkit-right;
 	text-align: right;
}

.ratingStar:hover{
	cursor: pointer;
	color: #ffbf00;
}

/* same like the one above but different locations */
.ratingStarR:hover{
	cursor: pointer;
	color: #ffbf00;
}

.activeStar{
	color: #ffbf00;
}

.sliderText{
	marign-top:10px;
}

.inline{
	display: inline-block;
}

.tourdata{
	margin-right: 10px;
}

.tourIcon{
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.iconWrapper{
	width: 156px;
	height: 80px;
}

.bigIcon{
	font-size: 50px !important;
	vertical-align: middle;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 800; /* Sit on top */
    left: 0;
    top: 0;
	width: 100%;/* Full width */
 	height: 100%;/* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #bbb;
	box-shadow: 2px 2px 2px #bbb;
	border-radius: 4px;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.infotext{
	font-size: 14px;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5px;
}

.infoHeader{
	padding-right: 5%;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 3px;
	background-color: #555555;
	color: white;
	text-align: -moz-center;
	text-align: -webkit-center;
 	text-align: center;
}

.clickable:hover{
	cursor: pointer !important;
}

.clickable{
	cursor: pointer;
}

.popupImage{
	height: 50px;
	width: 50px;
}

.button {
    background-color: #555555; 
    border: none;
    color: white !important;
	cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button:hover {
	background-color: #333333;
}

.halfSpace{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5px;
}

.thirdSpace{
	width: 31.33%;
	margin-left: 1%;
	margin-right: 1%;
	
}

.buttonWrapper{
	width: 300px;
}

.ratingWrapperPopup{
	width: 300px;
}

.fullSize {
	width: 100%;
}

.feedbackInfo {
	position: absolute;
	right: 10%;
	cursor: pointer;
}

.feedbackInfoOnPanle{
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.feebackRatingWrapper{
	display: inline-block;
}

.userDelete{
	float: right;
	cursor: pointer;
}

.popupFeedback{
	width: 100%;
	margin-bottom: 20px;
}

.feedbackComment{
	text-align: -moz-left;
	text-align: -webkit-left;
 	text-align: left;
}

.locationDataRouteText{
	text-align: -moz-left;
	text-align: -webkit-left;
 	text-align: left;
	width: 90%;
	vertical-align: middle;
}

.locationDataRoute{
	width: 100%;
	height: 24px;
}

.tourStopsPopupData{
    height: 24px;
    margin-bottom: 3px;
    overflow: hidden;
}


.red{
	color: red;
}

.green{
	color: green;
}

.feedbackStar:hover{
	cursor: pointer;
	color: #ffbf00;
}